<nav class="navbar-midnight">

    <span class="guild-name">HIGHWAY TO WYPE</span>

  <ul class="nav-links">
    <% if user_signed_in? %>
      <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li><%= link_to "Roster", "characters#index", class: "nav-link" %></li>

    <% else %>
      <li><%= link_to "Connexion", new_user_session_path, class: "btn-login" %></li>
    <% end %>
  </ul>
</nav>
