<div class="participant-item">
  <% if p.character.wow_class&.icon.present? %>
    <%= image_tag p.character.wow_class.icon, class: "class-icon" %>
  <% end %>
  <div>
    <strong><%= p.character.pseudo %></strong>
    <% if p.active_specialization %>
      <% role_icon = case p.role
        when "tank" then "ðŸ›¡ï¸"
        when "healer" then "ðŸ’š"
        when "dps_cac" then "âš”ï¸"
        when "dps_caster" then "ðŸ”®"
        else ""
      end %>
      <small class="text-muted">- <%= p.active_specialization.name %> <%= role_icon %></small>
    <% end %>
  </div>
</div>
