<div class="participant-card">
  <div class="participant-info">
    <span class="participant-name"><%= p.character.pseudo %></span>
    <% if p.character.wow_class.present? %>
      <%= image_tag "classes/#{p.character.wow_class.name.downcase.gsub(' ', '_')}.png", class: "participant-icon" %>
    <% end %>
    <% if p.role.present? %>
      <%= image_tag "roles/#{p.role}.png", class: "participant-icon" %>
    <% end %>
  </div>
</div>
