<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4 page-title">✏️ Modifier l'événement</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
