<div class="col-6 col-md-2 text-center mb-4">
  <div class="role-card">
    <%= image_tag("roles/#{role}.png", class: "role-icon-big") %>
  </div>
  <div class="role-count"><%= count %></div>
  <div class="role-label"><%= label %></div>
</div>
