<div class="hw-card hw-role-counter hw-role-counter-<%= role %>">
  <div class="hw-card-body">
    <div class="hw-role-counter-icon">
      <%= image_tag("roles/#{role}.png", alt: label, class: "hw-role-counter-img") %>
    </div>
    <div class="hw-role-counter-number"><%= count %></div>
    <div class="hw-role-counter-label"><%= label %></div>
  </div>
</div>
