/* Fix scroll calendrier mobile */
body {
  overflow-x: hidden;
}

.hw-container {
  overflow-x: visible !important;
}

@media (max-width: 768px) {
  .hw-container {
    padding: 8px;
  }
}
/* Fix scroll calendrier mobile */
@media (max-width: 768px) {
  body {
    overflow-x: visible !important;
  }

  .hw-container {
    padding: 8px !important;
  }
}
